body{

    font-family: 'Roboto Slab', 
    Georgia, 'Times New Roman', 
    Times, serif, 'Times New Roman';
    
}
/* .models {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
} */