{% extends 'base-layout.html' %}

{% block content%}
<h1>Cellibini Bikes Inventory List</h1>
<div class="inventory">
	<table border="1">
		<tr>
			<th>Inventory ID</th>
			<th>Part Name</th>
			<th>Stocks on Hand</th>
			<th>PAR Level</th>
		</tr>
	
	{% for inventory in inventories %}
	<div class="inventory">
		<tr>
			<td>{{inventory.mi_inventoryid}}</td>
			<td>{{inventory.mi_partname}}</td>
			<td>{{inventory.numberofstocks}}</td>
			<td>{{inventory.mi_numberofstocks}}</td>
		</tr>
	</div>
	{% endfor %}
</table>
</div>
{% endblock %}