{% extends 'base-layout.html' %}

{% block content %}
<div class="models">
    <br /><br /><br />
    <h1 class="text-center text-info">Bike List</h1>
    <br /><br /><br />

    <div class="row">
        {% for bike in bikes %}
        <div class="card mb-4">
            <div class="card mb-3">
                <img class="card-img-top" src="{{ bike.b_modelid.bm_thumb.url }}" alt="Cellibini Bike">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        <a href="{% url 'bike:bikedetail' bikeid=bike.b_bikeid%}">{{ bike.b_bikeid }}</a></h5>
                    <h4 class="card-text">{{ bike.b_modelid }}</h4>
                    <h4 class="card-text">{{ bike.b_bikestatusid }}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}